<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lexend-Regular.ttf</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>Stillness needs access to display your currently playing music.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>quran</string>
		<string>com.quran.ios
</string>
		<string>qurancom</string>
	</array>
</dict>
</plist>
